input#terms {
  margin-left: 0px;
}
form {
  text-align: start;
  padding: 25px;
  margin-left: 15%;
  margin-right: 15%;
}
.form-check-input {
  margin-left: 0px !important;
}
input[id^="day"]{
  margin-left:0px !important;
}
h2#heading {
  text-align:center;
  padding:10px;
}
select#role {
  padding: .375rem .75rem;
}
div#termsCondition {
  padding-left: 0px;
}
div#selectDays {
  padding-left: 0px;
}
.error-message {
  color: red;
  font-size: 14px; /* optional: adjust font size */
  padding: 5px;
  margin: 0px;
}
div#first,div#last,div#phone,div#addressLine,div#roles ,div#special,div#experties,div#qualif,div#email,div#passW,div#confPass{
  margin-bottom: 5px;
}